html, body {
    margin: 0;
    height: 100%;
    font-family: Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template: 1.5fr 26fr / 1fr 5fr;
    border: solid black 2px;
}

.sidebar {
    display: flex;
    grid-column: 1;
    grid-row: 1 / 3;
    flex-direction: column;
    color: white;
    background-color: rgba(25,146,212,255)
}

.header {
    display: flex;
    border: solid black 2px;
    grid-column: 2;
    grid-row: 1;
    justify-content: space-between;
    align-items: center;
}

.header .username {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.header .search {
    flex: 1.5;
}

.main {
    border: solid black 2px;
    grid-column: 2;
    grid-row: 2 / 3;
    background-color: rgba(226,232,240,255);
}

.main .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black 2px;
    background-color: rgba(255,255,255,255);
}

.main .content-container {
    display: grid;
    grid-template:  0.1fr 400px 400px/ 3fr 1fr;
    gap: 25px;
    padding: 20px;
}


.content-container .projects {
    display: grid;
    grid-template: 0.1fr repeat(3, 1fr) / repeat(2, 3fr);
    grid-column: 1;
    grid-row: 2 / 4;
    gap: 25px;
}


.content-container .projects .project {
    border: solid black 2px;
    display: grid;
    grid-template-rows: 0.1fr 0.2fr ;
    width: 400px;
    background-color: rgba(255,255,255,255);
}

.project .p-content .title-pro {
    grid-row: 1;
}

.project .p-content .text {
    grid-row: 2 / 3;
}

.project .buttons {
    grid-row: 2 / 3;
    display: flex;
    justify-content: end;
}

.main .announcements {
    grid-column: 2;
    grid-row: 2 / 3;
    border: solid black 2px;
    background-color: rgba(255,255,255,255);
}

.title-an {
    grid-column: 2;
    grid-row: 1;
}

.main .trending {
    grid-column: 2;
    grid-row: 3 / 4;
  
}

.trending .title {
    margin: 25px 0px 25px 0px;
}

.trending .users {
    border: solid black 2px;
    background-color: rgba(255,255,255,255);
}

h4 {
    margin: 0 ;
}

.sidebar .logo {
    display: flex;
    gap: 5px;
}

ul {
    padding: 0px;
}

.navigation, .branding {
    margin-left: 20px;
}

.navigation li, .branding li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

li svg {
    width: 30px;
    filter: invert(1);
}
